{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        Éditer une entreprise
    {% else %}
        Ajouter une entreprise
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Éditer une entreprise</h1> 
    {% else %}
        <h1>Ajouter une entreprise</h1>
    {% endif %}

    {# {{ form(formAddEntreprise) }} #}

    {{ form_start(formAddEntreprise) }}

        {{ form_row(formAddEntreprise.raisonSociale) }}
        
        {{ form_row(formAddEntreprise.dateCrea, {'label': 'Date de création'}) }}
        <div class="row">
            <div class="col-sm">
                {{ form_row(formAddEntreprise.adresse) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddEntreprise.cp, {'label': 'Code postal'}) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddEntreprise.ville) }}
            </div>
        </div>
        <br>
        {{ form_row(formAddEntreprise.valider) }}

    {{ form_end(formAddEntreprise) }}

{% endblock %}