{% extends 'base.html.twig' %}

{% block title %}Détail d'une entreprise{% endblock %}

{% block body %}
    <h1>Détail d'une entreprise</h1>

    <h2>{{ entreprise }}</h2>
    <p>
        {# Adresse : {{ entreprise.adresse }} {{entreprise.cp}} {{entreprise.ville}} #}
        Adresse : {{ entreprise.adresseComplete }}<br>
        
        {# Date de création : {{ entreprise.dateCreaFR }} #}

        {# gestion de la date par TWIG avec un filtre "|" #}
        Date de création : {{ entreprise.dateCrea | date("d/m/Y") }}
    </p>

    <h3>Liste des employés</h3>
    {% if entreprise.employes | length > 0 %}
        {% for employe in entreprise.employes %}
            <a href="{{ path('show_employe', {'id': employe.id}) }}">{{ empl oye }}<br></a>
        {% endfor %}
    {% else %}
        <p>Aucun employé</p>
    {% endif %}
    {% endblock %}
    