{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
    Éditer un employé 
    {% else %}
    Ajouter un employé
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
    <h1>Éditer un employé</h1> 
    {% else %}
    <h1>Ajouter un employé</h1>
    {% endif %}

    {# {{ form(formAddEmploye) }} #}

    {{ form_start(formAddEmploye) }}
    
        <div class="row">
            <div class="col-sm">
                {{ form_row(formAddEmploye.nom) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddEmploye.prenom, {'label': 'Prénom'}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form_row(formAddEmploye.dateNais, {'label': 'Date de naissance'}) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddEmploye.dateEmbauche, {'label': 'Date d\'embauche'}) }}
            </div>
        </div>
        {{ form_row(formAddEmploye.ville) }}
        {{ form_row(formAddEmploye.entreprise) }}
        <br>
        {{ form_row(formAddEmploye.valider) }}

    {{ form_end(formAddEmploye) }}
    
{% endblock %}