{% extends 'base.html.twig' %}

{% block title %}Détail d'un employé{% endblock %}

{% block body %}
    <h1>Détail d'un employé</h1>

    <h2>{{ employe }}</h2>
    <p>
        <u>Entreprise</u> : <a href="{{ path('show_entreprise', {'id': employe.entreprise.id})}}">{{ employe.entreprise }}</a><br>
        <u>Ville</u> : {% if employe.ville %} {{ employe.ville }}<br> {% else %} Ville non renseignée<br> {% endif %}
        
        {# gestion de la date par TWIG #}
        <u>Date de naissance</u> : {{ employe.dateNais | date("d/m/Y") }}<br>
        <u>Age</u> : {{employe.age}} ans<br>
        <u>Date d'embauche</u> : {{ employe.dateEmbauche | date("d/m/Y") }}
    </p>
{% endblock %}